<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.BillMapper">
    <insert id="addBill" parameterType="Bill" useGeneratedKeys="true" keyProperty="bill_id">
        INSERT INTO his.bill (bill_actual_sum, bill_sum, bill_type, bill_register_id, bill_prescription_id,
         bill_medical_skill_id, bill_user_id)
         VALUES (#{bill_actual_sum}, #{bill_sum},  #{bill_type}, #{bill_register_id}, #{bill_prescription_id},
          #{bill_medical_skill_id}, #{bill_user_id})
    </insert>

    <select id="getBill" resultType="Bill">
        SELECT * FROM his.bill
        WHERE bill_register_id = #{register_id}
    </select>

    <select id="getBillForOneRecord" resultType="Bill">
        SELECT * FROM bill
        WHERE bill_register_id = #{register_id}
    </select>

    <select id="getBillByUserIdAndTime" resultType="Bill">
        SELECT * FROM bill
        <where>
            bill_user_id = #{bill_user_id}
            <if test="end_time != null">
                AND bill_time BETWEEN #{start_time} AND #{end_time}
            </if>
            <if test="end_time == null">
                AND bill_time > #{start_time}
            </if>
        </where>
    </select>

    <select id="getBillByMedicalSkillId" resultType="Bill">
        SELECT * FROM bill
        WHERE bill_medical_skill_id = #{bill_medical_skill_id}
    </select>

    <select id="getBillByPrescriptionId" resultType="Bill">
        SELECT * FROM bill
        WHERE bill_prescription_id = #{bill_prescription_id}
        ORDER BY bill_time DESC
        LIMIT 0,1
    </select>
</mapper>