<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.ConstantMapper">

    <select id="getConstant" resultType="com.neuedu.lab.model.po.Constant">
        select * from constant
        where constant_type=#{constant_type}
    </select>

    <insert id="addConstant" parameterType="com.neuedu.lab.model.po.Constant"
            useGeneratedKeys="true" keyProperty="constant_id">
        INSERT INTO his.constant(constant_name, constant_type) VALUES (#{constant_name},#{constant_type})
    </insert>

    <delete id="deleteConstant" parameterType="com.neuedu.lab.model.po.Constant">
        DELETE FROM his.constant
        <where>
            <if test="constant_id != null">
                AND  his.constant.constant_id= #{constant_id}
            </if>
            <if test="constant_id == null">
                AND  constant_type = #{constant_type} AND constant_name = #{constant_name}
            </if>
        </where>
    </delete>

    <update id="updateConstant">
        UPDATE his.constant SET
        his.constant.constant_name= #{constant_name},
        his.constant.constant_type= #{constant_type}
        WHERE his.constant.constant_id = #{constant_id}
    </update>

    <select id="getAllConstant" resultType="Constant">
        SELECT * FROM constant
    </select>

</mapper>