<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.ConstantMapper">

    <select id="getPaymentType" resultType="String">
        select constant_name from constant
        where constant_type=#{type}
    </select>

</mapper>