<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.DailyMapper">
    <select id="getDailyByUserId" resultType="Daily">
        SELECT * FROM daily
        WHERE daily_user_id = #{daily_user_id} AND
              (daily_pass_state = #{daily_pass_state0} OR daily_pass_state = #{daily_pass_state1} OR daily_pass_state = #{daily_pass_state2})
        ORDER BY daily_end DESC
        LIMIT 0,1;
    </select>

    <select id="getDaily" parameterType="Daily" resultType="Daily">
        SELECT * FROM daily
        <where>
            <if test="daily_user_id != null">
                AND daily_user_id = #{daily_user_id}
            </if>
            <if test="daily_pass_state != null">
                AND daily_pass_state = #{daily_pass_state}
            </if>
            <if test="start_time != null">
                AND daily_operate_time > #{start_time}
            </if>
            <if test="end_time != null">
                AND  #{end_time} > daily_operate_time
            </if>
        </where>
    </select>

    <insert id="addDaily" parameterType="Daily" useGeneratedKeys="true" keyProperty="daily_id">
        <if test="daily_end == null">
            INSERT INTO daily (daily_start, daily_user_id, daily_pass_state, daily_sum, daily_mid_prescription_sum,
                                daily_west_prescription_sum,daily_actual_sum, daily_register_sum,daily_check_sum,
                                daily_examine_sum,daily_handle_sum)
            VALUES (#{daily_start},#{daily_user_id},#{daily_pass_state}, #{daily_sum},#{daily_mid_prescription_sum},
                    #{daily_west_prescription_sum}, #{daily_actual_sum}, #{daily_register_sum},#{daily_check_sum},
                    #{daily_examine_sum},#{daily_handle_sum})
        </if>

        <if test="daily_end != null">
            INSERT INTO daily (daily_start, daily_end, daily_user_id, daily_pass_state ,daily_sum, daily_mid_prescription_sum,
            daily_west_prescription_sum,daily_actual_sum, daily_register_sum,daily_check_sum,daily_examine_sum,daily_handle_sum)
            VALUES (#{daily_start}, #{daily_end}, #{daily_user_id},#{daily_pass_state}, #{daily_sum},
            #{daily_mid_prescription_sum}, #{daily_west_prescription_sum}, #{daily_actual_sum}, #{daily_register_sum},#{daily_check_sum},
            #{daily_examine_sum},#{daily_handle_sum})
        </if>

    </insert>

    <update id="updateDailyPass">
        UPDATE daily SET daily_pass_state = #{daily_pass_state},
            daily_owner_id = #{daily_owner_id}
        WHERE daily_id = #{daily_id}
    </update>

    <select id="getDailyById" parameterType="Integer" resultType="Daily">
        SELECT * FROM daily
        WHERE daily_id = #{daily_id}
    </select>

    <delete id="deleteNonPassDaily">
        DELETE FROM daily
        WHERE daily_user_id = #{daily_user_id} AND daily_pass_state = #{daily_pass_state}
    </delete>



</mapper>
