<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.DepartmentMapper">

    <!--增加科室信息-->
    <insert id="addDepartment" parameterType="com.neuedu.lab.model.po.Department">
        insert into department_info (department_id, department_name, department_cat, department_type)
        values(#{department_id},
        #{department_name},
        #{department_cat},
        #{department_type})
    </insert>

    <!--删除科室信息-->
    <delete id="deleteDepartment" parameterType="com.neuedu.lab.model.po.Department">
        DELETE FROM his.department_info
        where department_id = #{department_id}
    </delete>

    <!--修改科室信息-->
    <update id="updateDepartment">
        update department_info
        set department_name = #{department_name},
         department_cat = #{department_cat},
         department_type = #{department_type}
        where department_id = #{department_id}
    </update>

    <!--查询某科室信息-->
    <select id="getDepartment" resultType="com.neuedu.lab.model.po.Department">
        select * from department_info
        where department_id LIKE concat(concat('%',#{department_id}),'%')
    </select>

    <!--查询所有科室信息-->
    <select id="getAllDepartments" resultType="com.neuedu.lab.model.po.Department">
        select * from department_info
    </select>

</mapper>