<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.DiagnoseMapper">
    <insert id="addDiagnose" parameterType="Diagnose" useGeneratedKeys="true" keyProperty="diagnose_id">
        <if test="diagnose_time==null">
            INSERT INTO diagnose (diagnose_record_id, diagnose_type, diagnose_disease_id, diagnose_disease_name)
            VALUES (#{diagnose_record_id}, #{diagnose_type}, #{diagnose_disease_id},#{diagnose_disease_name})
        </if>

        <if test="diagnose_time!=null">
            INSERT INTO diagnose (diagnose_record_id, diagnose_type, diagnose_disease_id, diagnose_disease_name,diagnose_time)
            VALUES (#{diagnose_record_id}, #{diagnose_type}, #{diagnose_disease_id},#{diagnose_disease_name},#{diagnose_time})
        </if>
    </insert>


    <select id="getDiagnoses" resultType="Diagnose">
        SELECT * FROM diagnose
        <where>
            <if test="diagnose_type == null">
                AND  diagnose_record_id = #{diagnose_record_id}
            </if>
            <if test="diagnose_type != null">
                AND diagnose_record_id = #{diagnose_record_id} AND diagnose_type = #{diagnose_type}
            </if>
        </where>
    </select>
</mapper>
