<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.DoctorMapper">

   <select id="getAllDoctorsByDepartment" parameterType="String">
       select * from his.doctor_info
       WHERE doctor_department_id = #{department_id};
   </select>

    <update id="treat">
        UPDATE his.register_info SET register_info_state = #{state}
        WHERE register_info_doctor_id = #{register_id}
    </update>

</mapper>