<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.DoctorWorkloadMapper">
    <select id="getVisitorsNum" resultType="Integer">
        select count(register_info_id) from register_info, bill
        where register_info_id = bill_register_id
        and register_info_doctor_id = #{doctor_id}
        <if test="start_time != null">
            and bill_time &gt; #{start_time}
        </if>
        <if test="end_time != null">
            and bill_time &lt; #{end_time}
        </if>
    </select>

    <select id="getBillsNum" resultType="Integer">
        select count(distinct bill_id) from register_info,bill,medical_skill,prescription
        where (bill_register_id = register_info_id
        or prescription_id = bill_prescription_id
        or medical_skill_id = bill_medical_skill_id)
        and (register_info_doctor_id = #{doctor_id}
        or medical_skill_doctor_id = #{doctor_id}
        or prescription_doctor_id = #{doctor_id})
        <if test="start_time != null">
            and bill_time &gt; #{start_time}
        </if>
        <if test="end_time != null">
            and bill_time &lt; #{end_time}
        </if>
    </select>


    <select id="getBillsNumInRegister" resultType="Integer">
        select count(distinct bill_id) from register_info,bill
        where bill_register_id = register_info_id
        and register_info_doctor_id = #{doctor_id}
        <if test="start_time != null">
            and bill_time &gt; #{start_time}
        </if>
        <if test="end_time != null">
            and bill_time &lt; #{end_time}
        </if>
    </select>

    <select id="getBillsNumInMedicalSkill" resultType="Integer">
        select count(distinct bill_id) from bill,medical_skill
        where bill_medical_skill_id = medical_skill_id
        and medical_skill_doctor_id = #{doctor_id}
        <if test="start_time != null">
            and bill_time &gt; #{start_time}
        </if>
        <if test="end_time != null">
            and bill_time &lt; #{end_time}
        </if>
    </select>

    <select id="getBillsNumInPrescription" resultType="Integer">
        select count(distinct bill_id) from bill,prescription
        where bill_prescription_id = prescription_id
        and  prescription_doctor_id= #{doctor_id}
        <if test="start_time != null">
            and bill_time &gt; #{start_time}
        </if>
        <if test="end_time != null">
            and bill_time &lt; #{end_time}
        </if>
    </select>

    <select id="getRegisterFee" resultType="BigDecimal">
        select sum(register_info_fee) from register_info,bill
        where bill_register_id = register_info_id
        and register_info_doctor_id = #{doctor_id}
        <if test="start_time != null">
            and bill_time &gt; #{start_time}
        </if>
        <if test="end_time != null">
            and bill_time &lt; #{end_time}
        </if>
    </select>




    <!--检查-->
    <select id="getMedicalSkillInspect" resultType="BigDecimal">
        select sum(medical_skill_fee) from medical_skill
        where (medical_skill_doctor_id = #{doctor_id}
        or medical_skill_execute_doctor_id = #{doctor_id})
        and medical_skill_type = "检查"
        <if test="start_time != null">
            and medical_skill_pay_time &gt; #{start_time}
        </if>
        <if test="end_time != null">
            and medical_skill_pay_time &lt; #{end_time}
        </if>
    </select>

    <!--检验-->
    <select id="getMedicalSkillCheck" resultType="BigDecimal">
        select sum(medical_skill_fee) from medical_skill
        where (medical_skill_doctor_id = #{doctor_id}
        or medical_skill_execute_doctor_id = #{doctor_id})
        and medical_skill_type = "检验"
        <if test="start_time != null">
            and medical_skill_pay_time &gt; #{start_time}
        </if>
        <if test="end_time != null">
            and medical_skill_pay_time &lt; #{end_time}
        </if>
    </select>

    <!--处置-->
    <select id="getMedicalSkillDispose" resultType="BigDecimal">
        select sum(medical_skill_fee) from medical_skill
        where (medical_skill_doctor_id = #{doctor_id}
        or medical_skill_execute_doctor_id = #{doctor_id})
        and medical_skill_type = "处置"
        <if test="start_time != null">
            and medical_skill_pay_time &gt; #{start_time}
        </if>
        <if test="end_time != null">
            and medical_skill_pay_time &lt; #{end_time}
        </if>
    </select>
    <!--西药-->
    <select id="getPrescriptionWest" resultType="BigDecimal">
        select sum(prescription_fee) from prescription
        where (prescription_doctor_id = #{doctor_id}
        or prescription_execute_doctor_id = #{doctor_id})
        and prescription_type = "西药"
        <if test="start_time != null">
            and prescription_create_time &gt; #{start_time}
        </if>
        <if test="end_time != null">
            and prescription_create_time &lt; #{end_time}
        </if>
    </select>
    <!--中药-->
    <select id="getPrescriptionChinese" resultType="BigDecimal">
        select sum(prescription_fee) from prescription
        where (prescription_doctor_id = #{doctor_id}
        or prescription_execute_doctor_id = #{doctor_id})
        and prescription_type = "中药"
        <if test="start_time != null">
            and prescription_create_time &gt; #{start_time}
        </if>
        <if test="end_time != null">
            and prescription_create_time &lt; #{end_time}
        </if>
    </select>

    <select id="getDoctors" resultType="Doctor">
        select * from doctor_info;
    </select>


</mapper>