<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.MedicalSkillMapper">
    <insert id="addMedicalSkill" parameterType="MedicalSkill" useGeneratedKeys="true" keyProperty="medical_skill_id">
        insert into medical_skill (medical_skill_execute_state, medical_skill_execute_department, medical_skill_result, medical_skill_type, medical_skill_name, medical_skill_checkpoint, medical_skill_purpose, medical_skill_urgent, medical_skill_register_info_id,
         medical_skill_user_id, medical_skill_doctor_id, medical_skill_non_medical_id, medical_skill_fee)
         values (#{medical_skill_execute_state},#{medical_skill_execute_department}, #{medical_skill_result}, #{medical_skill_type}, #{medical_skill_name}, #{medical_skill_checkpoint}, #{medical_skill_purpose}, #{medical_skill_urgent}, #{medical_skill_register_info_id},
          #{medical_skill_user_id}, #{medical_skill_doctor_id}, #{medical_skill_non_medical_id}, #{medical_skill_fee});
    </insert>

    <delete id="deleteMedicalSkill" parameterType="MedicalSkill">
        delete from bill where bill_medical_skill_id = #{medical_skill_id};
        DELETE FROM medical_skill WHERE medical_skill_id = #{medical_skill_id};
    </delete>

    <update id="updateMedicalSkillState">
        UPDATE medical_skill SET medical_skill_execute_state = #{medical_skill_execute_state}
        WHERE medical_skill_id = #{medical_skill_id}
    </update>

    <select id="getMedicalSkill" resultType="MedicalSkill">
        SELECT * FROM medical_skill
        WHERE medical_skill_id = #{medical_skill_id}
    </select>

    <update id="updateMedicalSkillResult">
        UPDATE medical_skill
        SET medical_skill_execute_state = #{medical_skill_execute_state},
            medical_skill_result = #{medical_skill_result}
        WHERE medical_skill_id = #{medical_skill_id}
    </update>

    <select id="getMedicalSkillByRegisterId" resultType="MedicalSkill">
        SELECT * FROM medical_skill
        WHERE medical_skill_register_info_id = #{medical_skill_register_info_id}
              AND medical_skill_execute_state = #{medical_skill_execute_state}
    </select>

    <select id="getMedicalSkillByDepartmentId" resultType="MedicalSkill">
        SELECT * FROM medical_skill
        WHERE medical_skill_execute_department = #{medical_skill_execute_department}
    </select>



</mapper>