<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.PrescriptionContentMapper">
    <insert id="addPrescriptionContent" parameterType="PrescriptionContent" useGeneratedKeys="true" keyProperty="prescription_content_id">
        INSERT INTO prescription_content ( prescription_id, prescription_consumption,
                                          prescription_medicine_id, prescription_frequency, prescription_num,prescription_refund_available_num,
                                          prescription_day, prescription_unit_price,
                                          prescription_content_fee, prescription_content_actual_unit_price)
        VALUES (#{prescription_id}, #{prescription_consumption},
                 #{prescription_medicine_id}, #{prescription_frequency}, #{prescription_num},#{prescription_refund_available_num},
                 #{prescription_day},#{prescription_unit_price}, #{prescription_content_fee},
                #{prescription_content_actual_unit_price})
    </insert>

    <delete id="deletePrescriptionContents" >
        DELETE FROM prescription_content
        WHERE prescription_id = #{prescription_id}
    </delete>

    <delete id="deletePrescriptionContent" >
        DELETE FROM prescription_content
        WHERE prescription_content_id = #{prescription_content_id}
    </delete>

    <select id="getPrescriptionContentsPart" resultType="PrescriptionContent">
        SELECT prescription_id, sum(prescription_num) AS prescription_num, prescription_unit_price  FROM prescription_content
        WHERE prescription_id = #{prescription_id}
        GROUP BY prescription_id, prescription_medicine_id,prescription_unit_price
    </select>

    <select id="getPrescriptionContents" resultType="PrescriptionContent">
        SELECT *  FROM prescription_content
        WHERE prescription_id = #{prescription_id} AND  prescription_num>0
    </select>

    <select id="getPrescriptionContent" resultType="PrescriptionContent">
        SELECT prescription_id, sum(prescription_num) AS prescription_num, prescription_unit_price FROM prescription_content
        WHERE prescription_id = #{prescription_id}
        GROUP BY prescription_id, prescription_medicine_id,prescription_unit_price
    </select>


    <select id="getPrescriptionContentsNew" resultType="PrescriptionContent">
        SELECT prescription_id, prescription_consumption, prescription_medicine_id,
            prescription_frequency,prescription_day, prescription_content_actual_unit_price,prescription_unit_price,
            sum(prescription_num) AS prescription_num  FROM prescription_content
        WHERE prescription_id = #{prescription_id}
        GROUP BY prescription_id, prescription_consumption, prescription_medicine_id,
            prescription_frequency,prescription_day, prescription_content_actual_unit_price,prescription_unit_price
    </select>

    <select id="getPrescriptionContentNum" resultType="Integer">
        SELECT sum(prescription_num) FROM prescription_content
        WHERE prescription_id = #{prescription_id} AND prescription_medicine_id = #{prescription_medicine_id}
    </select>

    <select id="getPrescriptionContentPositive" resultType="PrescriptionContent">
        SELECT * FROM prescription_content
        WHERE prescription_id = #{prescription_id} AND prescription_medicine_id = #{prescription_medicine_id} AND prescription_num>0
    </select>

    <select id="getgetPrescriptionContentById" resultType="PrescriptionContent">
        SELECT * FROM prescription_content
        WHERE prescription_content_id = #{prescription_content_id}
    </select>

    <update id="updatePrescriptionContent" parameterType="PrescriptionContent">
        UPDATE prescription_content SET
            prescription_refund_available_num = #{prescription_refund_available_num}
        WHERE prescription_content_id = #{prescription_content_id}
    </update>

    <select id="getPrescriptionContentsPositive" resultType="PrescriptionContent">
        SELECT * FROM prescription_content
        WHERE prescription_id = #{prescription_id} AND prescription_num > 0
    </select>

</mapper>
