<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.PrescriptionMapper">
    <insert id="addPrescription" useGeneratedKeys="true" keyProperty="prescription_id">
        <if test="prescription_create_time == null">
            INSERT INTO prescription ( prescription_execute_state, prescription_type, prescription_user_id,
            prescription_doctor_id, prescription_register_info_id, prescription_name,
            prescription_pay_time,prescription_sent_time)
            VALUES (#{prescription_execute_state},#{prescription_type},#{prescription_user_id},
            #{prescription_doctor_id},#{prescription_register_info_id},#{prescription_name},
            #{prescription_pay_time},#{prescription_sent_time})
        </if>
        <if test="prescription_create_time != null">
            INSERT INTO prescription ( prescription_execute_state, prescription_type, prescription_user_id,
            prescription_doctor_id, prescription_register_info_id, prescription_name,
            prescription_create_time,prescription_pay_time,prescription_sent_time)
            VALUES (#{prescription_execute_state},#{prescription_type},#{prescription_user_id},
            #{prescription_doctor_id},#{prescription_register_info_id},#{prescription_name},
            #{prescription_create_time},#{prescription_pay_time},#{prescription_sent_time})
        </if>

    </insert>

    <delete id="deletePrescription">
        DELETE FROM prescription WHERE prescription_id = #{prescription_id}
    </delete>

    <update id="updatePrescriptionState">
        UPDATE prescription SET prescription_execute_state = #{prescription_execute_state}
        WHERE prescription_id = #{prescription_id}
    </update>

    <select id="getPrescription" resultType="Prescription">
        SELECT * FROM prescription
        WHERE prescription_id = #{prescription_id};
    </select>

    <select id="getPrescriptionByRegisterId" resultType="Prescription">
        SELECT * FROM  prescription
        WHERE prescription_register_info_id = #{prescription_register_info_id}
    </select>

    <update id="updatePrescriptionFee" parameterType="Prescription">
        UPDATE prescription SET prescription_fee = #{prescription_fee}
        WHERE prescription_id = #{prescription_id}
    </update>

    <update id="updatePrescriptionName" parameterType="Prescription">
        UPDATE prescription SET prescription_name = #{prescription_name}
        WHERE prescription_id = #{prescription_id}
    </update>

    <!--    获取所有已缴费/已退药项目-->
    <select id="getPrescriptionsInReturnedOrPaid" resultType="Prescription">
        select * from prescription
        where prescription_register_info_id = #{prescription_register_info_id}
        and (prescription_execute_state = "已缴费"
        or prescription_execute_state = "已退药");
    </select>

    <!--    获取所有已发送项目-->
    <select id="getPrescriptionsInSent" resultType="Prescription">
        select * from prescription
        where prescription_register_info_id = #{prescription_register_info_id}
        and prescription_execute_state = "已发送"
    </select>

    <select id="getPrescriptionByPatientIdBySentTime" resultType="Prescription">
        SELECT prescription.* FROM prescription,register_info
            <where>
                AND register_info_patient_id = #{register_info_patient_id}
                AND register_info_id = prescription_register_info_id
                AND prescription_execute_state = #{prescription_execute_state}
                <if test="start_time != null">
                    AND unix_timestamp(prescription_sent_time) > unix_timestamp(#{start_time})
                </if>
                <if test="end_time != null">
                    AND  unix_timestamp(#{end_time}) > unix_timestamp(prescription_sent_time)
                </if>
            </where>

    </select>

    <select id="getPrescriptionByPatientIdByPayTime" resultType="Prescription">
        SELECT prescription.* FROM prescription,register_info
        <where>
            AND register_info_patient_id = #{register_info_patient_id}
            AND register_info_id = prescription_register_info_id
            AND prescription_execute_state = #{prescription_execute_state}
            <if test="start_time != null">
                AND unix_timestamp(prescription_pay_time) > unix_timestamp(#{start_time})
            </if>
            <if test="end_time != null">
                AND  unix_timestamp(#{end_time}) > unix_timestamp(prescription_pay_time)
            </if>
        </where>

    </select>

    <select id="getAllPatients" resultType="Patient">
        SELECT DISTINCT patient_info.*
        FROM patient_info,register_info,prescription
        WHERE patient_record_id = register_info_patient_id
            AND register_info_id = prescription.prescription_register_info_id
            AND prescription_execute_state = #{prescription_execute_state}
    </select>

    <update id="updatePrescription" parameterType="Prescription">
        UPDATE prescription SET prescription_execute_state = #{prescription_execute_state},
            prescription_fee = #{prescription_fee}, prescription_name = #{prescription_name},
            prescription_pay_time = #{prescription_pay_time}, prescription_sent_time = #{prescription_sent_time}
        WHERE prescription_id = #{prescription_id}
    </update>
</mapper>
