<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.PrescriptionMapper">
    <insert id="addPrescription">
        INSERT INTO prescription (prescription_consumption, prescription_frequency, prescription_num, prescription_name, prescription_day, prescription_execute_state, prescription_type, prescription_user_id,
         prescription_doctor_id, prescription_register_info_id, prescription_medicine_id)
         VALUES (#{prescription_consumption},#{prescription_frequency},#{prescription_num},#{prescription_name},#{prescription_day},#{prescription_execute_state},#{prescription_type},#{prescription_user_id},
         #{prescription_doctor_id},#{prescription_register_info_id},#{prescription_medicine_id})
    </insert>

</mapper>
