<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.RecordMapper">
    <insert id="addRecord">
        INSERT INTO record (record_patient_id, record_doctor_id, record_id, record_first_diagnosis,
         record_syndrome, record_health_check, record_xianbingshi, record_jiwangshi, record_cure_situation,
        record_confirm_diagnosis, record_allergy_his, record_final_submit)
        VALUES (#{record_patient_id}, #{record_doctor_id}, #{record_id}, #{record_first_diagnosis}, #{record_syndrome}, #{record_health_check}, #{record_xianbingshi}, #{record_jiwangshi}, #{record_cure_situation},
         #{record_confirm_diagnosis}, #{record_allergy_his}, #{record_final_submit})
    </insert>

    <update id="updateRecord">
        UPDATE record SET
        record_first_diagnosis = #{record_first_diagnosis},
        record_syndrome = #{record_syndrome},
        record_health_check = #{record_health_check},
        record_xianbingshi = #{record_xianbingshi},
        record_jiwangshi = #{record_jiwangshi},
        record_cure_situation = #{record_cure_situation},
        record_confirm_diagnosis = #{record_confirm_diagnosis},
        record_allergy_his = #{record_allergy_his},
        record_final_submit = #{record_final_submit}
        WHERE record_id = #{record_id}
    </update>

    <select id="getRecordFinalSubmitById" resultType="Boolean">
        SELECT record_final_submit FROM  record
        WHERE record_id = #{record_id}
    </select>
    <select id="getRecordById" resultType="Boolean">
        SELECT * FROM  record
        WHERE record_id = #{record_id}
    </select>
</mapper>