<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.RegisterMapper">
    <insert id="addRegister" parameterType="Register" useGeneratedKeys="true" keyProperty="register_info_id">
        INSERT INTO his.register_info (register_info_state, register_info_records_book, register_info_fee,
        register_info_pay_type, register_info_doctor_id, register_info_patient_id, register_info_user_id)
        VALUES (#{register_info_state}, #{register_info_records_book}, #{register_info_fee},
        #{register_info_pay_type}, #{register_info_doctor_id}, #{register_info_patient_id}, #{register_info_user_id})
    </insert>

    <select id="getRegister" parameterType="Integer" resultType="Register">
        SELECT * FROM his.register_info
        WHERE register_info_id = #{register_id}
    </select>

    <select id="getRegisterByDoctorId" parameterType="Integer" resultType="Register">
        SELECT * FROM his.register_info
        WHERE register_info_doctor_id = #{doctor_id}
    </select>

    <select id="getRegisterByDepartmentId" parameterType="String" resultType="Register">
        SELECT * FROM register_info, doctor_info
        WHERE register_info_doctor_id = doctor_id AND  doctor_department_id = #{department_id}
    </select>

    <select id="getRegisterByDoctorIdAndPatientName" resultType="Register">
        SELECT * FROM his.register_info, his.patient_info
        WHERE register_info_doctor_id = #{doctor_id}
        AND register_info.register_info_patient_id = patient_info.patient_record_id
        AND patient_name = #{patient_name}
    </select>


    <update id="updateRegisterState">
            UPDATE register_info SET register_info_state = #{register_info_state}
        WHERE register_info_id = #{register_id}
    </update>
    <select id="getRegistersByPatientId" resultType="Register">
        SELECT * FROM register_info
        WHERE register_info_patient_id = #{register_info_patient_id}
    </select>


    <!--校验-->
    <select id="checkVaild" parameterType="Register">
        SELECT * FROM register_info
        WHERE register_info_patient_id = #{register_info_patient_id} AND register_info_doctor_id = #{register_info_doctor_id}
            AND date_format(register_info_time,'%Y-%m-%d') = date_format(#{register_info_time},'%Y-%m-%d')
    </select>

</mapper>