<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.lab.model.mapper.RuleMapper">

    <!--增加科室信息-->
    <insert id="addRule" parameterType="com.neuedu.lab.model.po.Rule" useGeneratedKeys="true" keyProperty="rule_id">
        insert into rule (rule_name, rule_work_time, rule_doctor_id)
        values(#{rule_name},
        #{rule_work_time},
        #{rule_doctor_id})
    </insert>

    <!--删除科室信息-->
    <delete id="deleteRule" parameterType="Rule">
        DELETE FROM his.rule
        where rule_id = #{rule_id}
    </delete>

    <!--修改科室信息-->
    <update id="updateRule">
        update rule
        set rule_name = #{rule_name},
         rule_work_time = #{rule_work_time}
        where rule_id = #{rule_id}
    </update>

    <!--查询某科室信息-->
    <select id="getRule" resultType="Rule">
        select * from rule
        where rule_id = #{rule_id}
    </select>

    <!--查询所有科室信息-->
    <select id="getAllRules" resultType="Rule">
        select * from rule
    </select>

    <select id="getDoctors" resultType="Doctor" >
        select *
        from doctor_info
        where doctor_department_id = #{department_id} and doctor_register_level_id = #{register_level_id}
    </select>

    <resultMap type="com.alibaba.fastjson.JSONObject" id="rule_schedule">
        <id property="rule_id" column="rule_id" />
        <result property="rule_name" column="rule_name" />
        <result property="rule_work_time" column="rule_work_time" />
        <result property="doctor_name" column="doctor_name" />
        <result property="department_name" column="department_name" />
    </resultMap>


    <select id="getNames" resultMap="rule_schedule" >
        select rul.rule_id, rul.rule_name, rul.rule_work_time , doc.doctor_name, department_name
        from rule rul, doctor_info doc, department_info dep
        where rul.rule_doctor_id = doc.doctor_id and doc.doctor_department_id = dep.department_id
    </select>

</mapper>